.bg-brown {
    background-color: #3e3e3e;
}

.w-40 {
    width: 40%;
}

.action {
    gap: 1rem;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.table-container::-webkit-scrollbar {
    display: none; /* Untuk Chrome, Safari, dan Opera */
}
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc !important; /* Tambahkan border untuk outline */
    padding: 10px;
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 12px;
    border-bottom: 2px solid #fff;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa; /* Warna striping */
}

tbody tr:hover {
    background-color: #e2e6ea;
}

.tooltip-box {
    width: 280px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.5;
    left: 0;
    transform: translateX(0);
    top: 130%;
    z-index: 10;
}

.bg-brown {
    background-color: #8b4513; /* Warna coklat */
}
.w-40 {
    width: 40%;
}
.action .btn {
    margin: 0 5px;
}

.gap-1 {
    gap: 1rem;
}
