trix-editor {
    min-height: 150px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
}
.trix-button-group {
    background: white;
}

.heading-spacing {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}

.date-small {
    width: 50%;
    max-width: 250px;
}

.table-container {
    max-height: 600px;
    overflow-y: auto; /* overflow-y untuk mengaktifkan scroll vertikal jika konten melebihi tinggi maksimal */
    overflow-x: auto; /* overflow-x untuk mengaktifkan scroll horizontal*/
    border: 1px solid #ddd;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.table-container::-webkit-scrollbar {
    display: none;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc !important;
    padding: 10px;
    text-align: left;
}
thead {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}
thead th {
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 12px;
    border-bottom: 2px solid #fff;
}
tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}
tbody tr:hover {
    background-color: #e2e6ea;
}