.table-container {
    max-height: 800px;
    overflow-y: auto;
    border: 1px solid #ddd;
    position: relative;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid #ccc !important; 
    padding: 5px;
    text-align: center;
    font-size: 12px;
}


thead {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 12px;
    border-bottom: 2px solid #fff;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa; /* Warna striping */
}

tbody tr:hover {
    background-color: #e2e6ea;
}

.nilai-tooltip {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.tooltip-box {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.5;
    left: 50%;
    transform: translateX(-50%);
    top: 130%;
    z-index: 10;
    text-align: center;
}

/* Menampilkan tooltip saat hover */
.nilai-tooltip:hover .tooltip-box {
    display: block;
}

.text-danger {
    font-weight: bold;
}

#toggleFilter i {
    margin-left: 5px;
}
#filterSection select {
    min-width: 150px;
}

