APP_NAME=Sipta
APP_ENV=development
APP_KEY=
APP_DEBUG=true
APP_URL=
PREFIX_URL=sipta-dev
SESSION_SECURE_COOKIE=true
SESSION_DOMAIN=
SESSION_PATH=/sipta-dev
ASSET_URL=/sipta-dev

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=

REDIS_HOST=cache
REDIS_PASSWORD=null
REDIS_PORT=6379
SESSION_DRIVER=redis
CACHE_DRIVER=redis

APP_FORCE_HTTPS=true
TRUSTED_PROXIES=*

RUN_MIGRATIONS=false

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="sipta"

QUEUE_CONNECTION=database
IMPERSONATE=true